{% extends 'acceuil.html' %}
{% block content%}

<center><h1>Nos projets</h1></center>
<div class="container5">
    <h2>OCP KHOURIBGA</h2>
<h3>Etude / Exécution</h3>
 Etude d’exécution, fourniture et montage de Charpente<br> métallique et chaudronnerie pour trémie d’épierrage criblage<br> à Sidi Chennane Khouribga.
</div>
<div class="classe5">
</div>


<div class="container1">
    <h2>OCP LAAYOUNE </h2><br>
Travaux d’aménagement de l’axe de mise à Terril de la <br>division traitement PHOSBOUCRAA.
</div>
<div class="classe1">
</div>

<div class="container2">
    <h2>SALAM GAZ </h2><br>
Travaux de tuyauterie sur le réseau incendies et produit

</div>
<div class="classe2">
</div>

<div class="container3">
    <h2>SKAKO VIBRATION</h2><br>
Travaux sur RB3 et RC3 pour une alimentation de manutention,<br> et bâtiment d'aiguillage à OCP JORF LASFAR
</div>
<div class="classe3">
</div>

<div class="container4">
    <h2>AFRIQUIA </h2><br>
Fourniture, fabrication et montage auvents aux stations<br> AFRIQUIA Tout Maroc
</div>
<div class="classe4">
</div>
<style>


   .container5{

         position:absolute;
        top:30%;
        left:10%;
        box-sizing:border-box;
        box-radius:10px;
        box-shadow: 0 20px 30px rgba(0,0,0,.2);
        height:200px;


}

.classe5{
        margin-right:50px;
        position:absolute;
        top:25.5%;
        left:55%;
        width:200px;
        height:200px;
        background-image:url('/static/images/ocp.png');
        background-size:100% 100%;
        margin:30px;
        padding:19px;
    }

    .container1{

        position:absolute;
        top:70%;
        left:10%;
        box-sizing:border-box;
        box-radius:10px;
        box-shadow: 0 20px 30px rgba(0,0,0,.2);
        height:200px;


}

.classe1{

        position:absolute;
        top:60%;
        left:54%;
        width:200px;
        height:200px;
        background-image:url('/static/images/ocp1.png');
        background-size:100% 100%;
        margin:50px;
        padding:19px;
    }


.container2{

        position:absolute;
        top:120%;
        left:10%;
        box-sizing:border-box;
        box-radius:10px;
        box-shadow: 0 20px 30px rgba(0,0,0,.2);
        height:200px;


}

.classe2{
        margin-right:50px;
        position:absolute;
        top:115%;
        left:55%;
        width:200px;
        height:200px;
        background-image:url('/static/images/salamgaz.png');
        background-size:100% 100%;
        margin:30px;
        padding:19px;
    }

    .container3{

        position:absolute;
        top:165%;
        left:10%;
        box-sizing:border-box;
        box-radius:10px;
        box-shadow: 0 20px 30px rgba(0,0,0,.2);
        height:200px;


}

.classe3{
        margin-right:50px;
        position:absolute;
        top:160%;
        left:55%;
        width:200px;
        height:200px;
        background-image:url('/static/images/skako.png');
        background-size:100% 100%;
        margin:30px;
        padding:19px;
    }

      .container4{

        position:absolute;
        top:210%;
        left:10%;
        box-sizing:border-box;
        box-radius:10px;
        box-shadow: 0 20px 30px rgba(0,0,0,.2);
        height:200px;


}

.classe4{
        margin-right:50px;
        position:absolute;
        top:205%;
        left:55%;
        width:200px;
        height:200px;
        background-image:url('/static/images/afriquia.png');
        background-size:100% 100%;
        margin:30px;
        padding:19px;
    }
</style>
{% endblock %}